body {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.ball {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: linear-gradient(#ff7300, orange);
    position: absolute;

    animation: bounce 5s infinite linear;
}

@keyframes bounce {
    0% {
        top: 0;
        left: 0;
    }

    25% {
        top: 0;
        left: calc(100vw - 100px);
    }

    50% {
        top: calc(100vh - 100px);
        left: calc(100vw - 100px);
    }

    75% {
        top: calc(100vh - 100px);
        left: 0;
    }

    100% {
        top: 0;
        left: 0;
    }
}