<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>방명록</title>
  </head>
  <body>
    <h2>방명록 페이지</h2>
    <form name="visitor-form">
      <fieldset>
        <legend>방명록 목록</legend>
        <input type="text" mame="name" placeholder="사용자 이름" /><br />
        <input
          type="text"
          name="comment"
          placeholder="간단 방명록 작성"
        /><br />
        <div><button type="button" onclick="">방명록 등록</button></div>
      </fieldset>
    </form>
    <table border="1" cellspacing="0">
      <thead>
        <tr>
          <th>ID</th>
          <th>작성자</th>
          <th>방명록</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <!-- 
      [ 
      { id: 1, name: '홍길동', Comment: '내가 왔다' }, 
      { id: 2, name:'이찬희', Comment: '으라차차' } 
      ] 
      -->
      <tbody>
        <!-- <tr>
          <td></td>
          <td></td>
          <td></td>
          <td><button>수정</button></ㅅ>
          <td><button>삭제</button></td>
        </tr> -->
        <%for(let i=0; i<data.length; i++){%>
          <tr>
          <td><%=data[i].id %></td>
          <td><%=data[i].name %></td>
          <td><%=data[i].comment %></td>
          <td><button>수정</button></ㅅ>
          <td><button>삭제</button></td>
        </tr>
        <%}%>
      </tbody>
    </table>

    <script></script>
  </body>
</html>
