<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인</title>
    <style>
      form label {
        display: flex;
      }

      form label span {
        width: 100px;
      }
    </style>
  </head>
  <body>
    <form name="login">
      <label for="id"
        ><span>아이디</span><input type="text" id="id" name="id"
      /></label>
      <label for="pw"
        ><span>비밀번호</span><input type="password" id="pw" name="pw"
      /></label>
      <button>로그인</button> <button>회원가입</button>
    </form>
  </body>
</html>
